/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Inter-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Inter-Medium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Inter-Bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
    /* inter-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/Inter-Black.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
  /* montserrat-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/Montserrat-Light.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

ul li, a{
    text-decoration: none;
    list-style: none;
}
a:hover{
   color: #e4e5eac8;
}
p,ul{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: #E4E5EA;
}
.wrapper{
    background-color: #0E1014;
    max-width: 100%;
    min-height: 100vh;
    padding: 0px 0px 20px 150px;
}

/* header */

header{
    padding-top: 50px;
    margin-bottom: 94px;
}
.header__main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6px;
    gap: 90px;
}
.nav__list{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 217px; */
    /* padding-right: 10px; */
}
.nav__item{
    margin-right: 30.5px;
}

.social{
    display: flex;
}
.logo-text{
    max-width: 145px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
}
.logoNav{
    display: flex;
    flex-wrap: wrap;
    margin-right: -109px;
}
.phone{
    margin-right: 47px;
    margin-top: -5px;
}
.social__item{
    margin-right: 32.5px;
}
.social__item:last-child{
    margin-right: 0px;
}
.header__contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 173px;
}
.logo{
    margin-right: 52px;
    margin-top: -3px;
    margin-left: -1px;
}

/* main part */

.main__wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 124px;
    justify-content: space-between;
}

.left{
    /* margin-right: 463px; */
}

.left__header{
    font-weight: 400;
    font-size: 48px;
    max-width: 362px;
    line-height: 58.09px;
    margin-bottom: 30px;
    margin-left: -3px;
}
.left__gradient-span{
    font-weight: 900;
    font-size: 48px;
    line-height: 58.09px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0;

}
.left__desc{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-left: -3px;
    max-width: 275px;
}
.right{
    max-width: 316px;
    padding-top: 16px;
    padding-right: 176px;
}
.right__header{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 40px;
}
.right__gradient-span{
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%),
linear-gradient(0deg, #E4E5EA, #E4E5EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    letter-spacing: 0.8px;
}
.right__grid{
    display: grid;
    grid-template-columns: 152px 144px;
    grid-template-rows: repeat(2,auto);
    margin-bottom: 62px;
    column-gap: 23px;
    row-gap: 32px;
}

.right__gridHeader{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: right;   
    text-transform: uppercase; 
    margin-bottom: 6px;
}
.right__gridText{
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: right;
}
.right__button{
    box-sizing: border-box;
    padding: 21px 34px;
    background-color: #4077F3;
    display: flex;
    justify-content: center;
    width: 262px;
    height: 61px;
    margin: 0 auto;
    margin-right: -1px;
}
.right__button:hover{
    cursor: pointer;
    background-color: #4076f3d0;
}
.right__button a{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* footer */

.footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
    margin-left: -1px;
    justify-content: space-between;
}
.aboutCompany{
    margin-right: 98px;
}
.footer__header{
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #656566;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer__listItem{
    margin-bottom: 10px;
 }

.footer__listItem a{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}
.footer__listImg{
    margin-right: 12px;
}
.footer__social{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.menu__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.footer__wrapperLeft{
    display: flex;
    flex-wrap: wrap;
}
.menu__left{
    margin-right: 52px;
}

.footer__listContacts{
    margin-bottom: 21px;
    letter-spacing: 0;
}
.footer__contacts{text-align: end;padding-right: 176px;}
.footer__list{
    margin-bottom: 70px;
}
.footer__copyrightText{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: end;
    margin-bottom: 4px;
}
.privacy-policy{
    text-decoration: underline;
}
.redlight{
    position: absolute;
    top:251px;

}
.redlight img{
    width: 311px;
    height: 311px;
}

.sphera1{
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 868px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, 
    rgba(236, 208, 255, 0.64) 0%, 
    rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, 
    rgba(86, 24, 128, 0.232) 100%) ;
    box-shadow: 3px 6px 27px -10px #B176D940;
    
}
.sphera2{
    border-radius: 50%;
    position: absolute;
    width: 83px;
    height: 83px;
    top: 73px;
    left: 519px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, 
    rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, 
    rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px #DF7D7D40;
    
}
.sphera3{
    border-radius: 50%;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 538px;
    left: 851px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, 
    rgba(255, 208, 208, 0.48) 0%, 
    rgba(212, 93, 93, 0.248) 59.67%, 
    rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) ;
    box-shadow: 3px 6px 27px -10px #DF7D7D40;
}
.mobile-list{
    display: none;
}
.footer__listItem_mobile{
    display: none;
}
@media screen and (max-width:936px){
    .wrapper {
        padding: 0px 0px 20px 15px;
    }
    .redlight{
        display: none;
    }
}
@media screen and (max-width:820px){
    .wrapper {
        padding: 0;
    }
    .header__main {
        padding: 20px 15px;
        margin-bottom: 0px;
        background-color: #0E1014;
        
    }
    .logo{
        display: none;
    }
    .logo-text{
        display: none;
    }
    header {
        padding-top: 0px;
        margin-bottom: 0px;
    }
    .nav__item a{
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
    }
    .nav__item {
        margin-right: 16.5px;
        
    }

    .header__contacts,
    .sphera1,.sphera2,
    .sphera3,
    .nav__item:last-child{
        display: none;
    }
    main{
        background: url(./img/bg.png) no-repeat;
        padding: 40px 15px 0px;
        margin-bottom: 40px;
    }
    .main__wrapper {
        display: block;
        margin-bottom: 0px;
        padding-bottom: 50px;
        
    }
    .left__header {
        font-family: Inter;
        font-size: 36px;
        font-weight: 400;   
        margin-bottom: 6px; 
        line-height: 43.57px;    
    }
    .left{   
        margin-bottom: 45px; 
    }
    .right {
        padding-top: 0px; 
        padding-right: 0px;
    }
    
    .right__header {
        text-align: left;
        margin-bottom: 18px;
    }
    .left__gradient-span {    
        font-size: 36px;
        margin-top: -6px;
        margin-left: 1px;
        display: flex;
        
    }
    .right__gradient-span {
        text-transform: none;
        letter-spacing: 0;
    }
    .right__grid{
        display: none;
    }
    .mobile-list{
        display: flex;
        flex-wrap: wrap;
    }
    .mobile-list li{
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 114px;
    }
    .mobile-list li::before{
       content: "";
       display: inline-block;
       width: 10px;
        height: 0.1px;
        margin-bottom: 4px;
        margin-right: 5px;
        border: 1px solid;
        background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
        border: 1px solid;
        border-image-source: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    }
    .right__button{
        display: none;
    }
    .menu__left {
        margin-right: 30px;
    }
    .footer__wrapper{
        display: block;
       padding-left: 15px;
    }
    .footer__wrapperLeft{
        display: block;
    }
    .footer__listItem a {     
        font-size: 14px;;
    }
    .footer__header {  
        font-size: 12px;
        margin-bottom: 19px;
    }
    .footer__list {
        margin-bottom: 30px;
    }
    .footer__contacts {
        text-align: start; 
        padding-right: 0px;
    }
    .footer__social {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .footer__copyrightText {
        text-align: start;
    }
    .footer__listItem {
        margin-bottom: 7px;
    }
    .footer__listItem_decktop{
        display: none;
    }
    .footer__listItem_mobile{
        display: block;
    }
    .footer__listContacts {
        letter-spacing: 1.16px;
    }
    .footer__copyright{
        margin-top: 54px;
        padding-bottom: 31px;
    }

}

